USERNAME="xxxxxx"
PASSWARD="xxxxxx"

MODEL_URL="http://xxxxx/v1/chat/completions"
MODEL_NAME="xxxxxx"
MODEL_APIKEY="xxxxx"

REGION="USA"
DELAY=1
UNIVERSE="TOP3000"
DECAY=0
NEUTRALIZATION="FAST"
TRUNCATION=0.08
PASTEURIZATION="OFF"
UNIT_HANDLING="VERIFY"
NAN_HANDLING="OFF"
MAX_TRADE="OFF"
TAGS=[]
THEME=true

CACHE_PATH = "simulation_cache.parquet"

DATA_IDS=["search_interest", "other693", "other143"]

ALPHA_DESCRIPTION="Create multi-factor alphas combining momentum, value and quality characteristics"